* {
    box-sizing: border-box;
}

:root {
    --font-heading: "Sen", sans-serif;

    --primary-color: #FFB900;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
}

/*==================== common ====================*/
a {
    text-decoration: none;
}

.btn {
    display: inline-block;
    min-width: 118px;
    padding: 0 16px;
    color: #FFF;
    line-height: 50px;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 600;
    border-radius: 999px;
    background: #171100;
}

.btn:hover {
    opacity: 0.9;
}

.main-content {
    width: 1170px;
    /* cách 24px */
    max-width: calc(100% - 48px);
    margin-right: auto;
    margin-left: auto;
}

/*===================== header ======================*/
.header {
    background: #FFFCF4;
}

.header.fixed {
    z-index: 1;
    position: sticky;
    top: -28px;
}

.header .body {
    display: flex;
    align-items: center;
    padding: 36px 0px 8px;
}

.nav {
    margin-left: auto;
}

.header .nav ul {
    display: flex;
}

.nav a {
    position: relative;
    color: #5F5B53;
    font-size: 1.6rem;
    padding: 8px 21px;
    /* mặc định trình duyệt normal và 400 */
}

.nav li.active a,
.nav a:hover {
    color: #171100;
    text-shadow: 1px 0 0 currentColor;
}

.nav li.active a::after {
    position: absolute;
    left: 21px;
    bottom: 6px;
    display: block;
    content: "";
    width: 12px;
    height: 2px;
    border-radius: 1px;
    background: #171100;
}

.header .btn-sign-up {
    min-width: 144px;
}

.header .action {
    margin-left: 49px;
}

/* ===================== Main =====================*/
.hero {
    padding-top: 56px 0px 65px;
    background-color: #FFFCF4;
    ;
}

.hero .body {
    display: flex;
}

/* =================hero left ============= */
.hero .media-block {
    width: 48%;
    position: relative;
}



.hero .media-block .img {
    width: 470px;
    height: 685px;
    object-fit: cover;
    /* Tránh vỡ giao diện */
    border-radius: 20px;

}

.hero .hero-sumary {
    padding: 24px;
    width: 270px;
    position: absolute;
    bottom: 48px;
    right: 0px;
    border-radius: 12px;
    background: #FFF;
    box-shadow: 0px 16px 32px 0px rgba(0, 0, 0, 0.05);
}

.hero-sumary .item {
    display: flex;
    align-items: center;
}

.hero-sumary .item+.item {
    /* tác động vào class item nằm đằng class item ,  tác động từ thằng thứ 2 trở đi*/
    margin-top: 22px;
}

.hero-sumary .item .icon {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFF9E8;
}

.hero-sumary .item .icon2 {
    background-color: #FCEFFF;
}

.hero-sumary .item .icon3 {
    background-color: #EBEAFF;
}

.hero-sumary .info {
    margin-left: 16px;
}

.hero-sumary .label {
    color: #5F5B53;
    font-size: 1.4rem;
    line-height: 1.86;
    /* 185.714% */
}

.hero-sumary .title {
    color: #171100;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.67;
    /* 166.667% */
}

/* ==============hero right ================= */
.hero .content-block {
    width: 52%;
    padding-left: 130px;
    padding-top: 64px;
}

.hero .heading {
    color: #171100;
    font-family: var(--font-heading);
    font-size: 5.5rem;
    font-weight: 700;
    line-height: 1.17;
    /* 117.241% */
    letter-spacing: -1.16px;
}

.hero .desc {
    margin-top: 22px;
    color: #5F5B53;
    font-size: 1.8rem;
    line-height: 1.67;
    /* 166.667% */
}

.hero .cta-group {
    margin-top: 38px;
    display: flex;
    align-items: center;
}

.hero-cta {
    min-width: 180px;
    background-color: var(--primary-color);
    line-height: 64px;
}

.hero .watch-video {
    border: none;
    background: transparent;
    display: flex;
    margin-left: 28px;
    align-items: center;
    cursor: pointer;
}

.hero .watch-video .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 40px;
    background: #FFF;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.07);
}

.hero .watch-video span {
    color: #171100;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.67;
    /* 166.667% */
    margin-left: 14px;
}

.hero .desc-recent {
    margin-top: 48px;
}

.hero .stats{
    margin-top: 8px;
}

.hero .stats strong {
    margin-right: 15px;
    color: #171100;
    font-family: var(--font-heading);
    font-size: 4.4rem;
    font-weight: 700;
    line-height: 1.23;
    /* 122.727% */
}

.hero .stats strong:nth-child(2){
    margin-left: 28px;
}